.checklist {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    display: flex;
}

.header h1 {
    text-align: center;
    flex: 1
}

.header button {
    width: 5ch;
}

.phase {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 15px;
}

.phaseSelection {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 5px;
}

.phaseSelection button {
    min-height: 30px;
    text-align: left;
    padding: 5px;
}

.phaseTitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navButtons {
    display: flex;
    gap: 15px;
    min-height: 50px;
    justify-content: stretch;
}

.navButtons button {
    flex: 1;
}

.check {
    display: flex;
    justify-content: space-between;
}

.confirm {
    font-style: italic;
    padding-right: 2px; /* Because of italic, the font leans outside... So padding to avoid clipping */
}