.checklist {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checklist h1 {
    text-align: center;
}

.phase {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navButtons {
    display: flex;
    gap: 15px;
    min-height: 50px;
    justify-content: stretch;
}

.navButtons button {
    flex: 1;
}

.check {
    display: flex;
    justify-content: space-between;
}

.confirm {
    font-style: italic;
}